"""This package implements a handler for the {{ language|title }} language."""

from mkdocstrings_handlers.{{ python_package_import_name }}.handler import get_handler

__all__ = ["get_handler"]  # noqa: WPS410
